@import 'animation'
@import 'box'
@import 'gradient'
@import 'pos'
@import 'text'

.ShowDetails
  padding 20px
  position relative

  > img
    abspos 15px false 0px 15px
    width 100px
    height 150px
    gradient #6A6A6A #AAA

  > .titleGroup
    abspos 20px 15px false 125px

    > .network
      color #555
      padding-top 10px

  > .description
    // TODO: need a better multi-line text-overflow
    margin-top 160px

  > .castGroup
    margin-top 20px

    > .castHeader
      margin 10px 0 10px 5px
      
    > .castList > .ListView
      > li:first-child
        border-radius 8px 8px 0 0

      > li:last-child
        border-radius 0 0 8px 8px
      