color-bg-dark = #CCC
color-bg = #DDD
color-bg-light = #EEE
color-bg-selected-dark = #666
color-bg-selected-light = #777

shadow-color = #222
shadow-color-dark = #111

color-text-light = #333
color-text = #666
color-text-dark = #111
color-text-disabled = #333

color-break = lighten(#999,35%)
color-break-text = darken(color-break,20%)
color-hold-back = #882
color-appt = lighten(desaturate(#7FB9FA,50%),15%)
color-appt-text = darken(color-appt,25%)
color-text-secondary = #666

color-date-default = lighten(desaturate(#7FB9FA,50%),15%)
