abspos(t,r=false,bo=false,l=false)
  position absolute
  top t if t
  right r if r
  bottom bo if bo
  left l if l

fixpos(t,r=false,bo=false,l=false)
  position fixed
  top t if t
  right r if r
  bottom bo if bo
  left l if l
