@import 'animation'
@import 'box'
@import 'gradient'
@import 'pos'
@import 'text'

.ProfileDetails
  padding 20px
  position relative

  > img
    abspos 15px false 0px 15px
    width 100px
    height 150px
    gradient #6A6A6A #AAA

  > .nameGroup
    abspos 20px 15px false 125px

  > .knownForGroup
    margin-top 160px

    > .knownForHeader
      margin 10px 0 10px 5px
      
    > .knownForList > .ListView
      > li:first-child
        border-radius 8px 8px 0 0

      > li:last-child
        border-radius 0 0 8px 8px
      