@import 'box'
@import 'gradient'

.ContextNavBar
  margin 0
  padding 0
  list-style-type none
  box horizontal

  > li
    border-top 2px solid #666
    border-right 1px solid #444
    color #FFF
    gradient #333 #111
    text-align center
    box-flex 1
    padding 10px 0 10px 0

    &:last-child
      border-right none