@import 'box'
@import 'gradient'
@import 'pos'
@import 'triangle'

.TitleBar
  box horizontal
  box-shadow 0 1px 5px #333
  gradient #444 #111
  height 43px

  buttonColor = rgba(#FFF,.13)
  buttonRadius = 5px

  > #backbutton
  > #gobutton
    color #DDD
    display inline-block
    font-size 12px
    font-weight bold
    text-align center
    background-color buttonColor
    position relative
    height 29px
    margin 7px 0 0 0px
    line-height 30px

    > span
      min-width 40px
      max-width 65px
      display inline-block
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

  > #backbutton
    border-radius 0 buttonRadius buttonRadius 0
    left 20px

    > span
      padding 0 5px 0 2px

    &:before
      abspos 0 0 0 -28px
      triangleShape left 14px buttonColor #000 2

  > #gobutton
    visibility hidden
    border-radius buttonRadius
    right 7px

    > span
      padding 0 5px 0 5px

  > #titles
    box-flex 1
    margin 0 17px 0 30px
    position relative
    z-index 1

    > #title
    > #prevtitle
      abspos 0px 0px false 0px
      color #FFF
      font-size 22px
      font-weight bold
      padding 9px 0 0 0
      text-align center
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      height 35px
      z-index 2

    > #prevtitle
      visibility hidden
      z-index 1

      &.animate.headingOut
      &.animate.headingOut-reverse
        visibility visible
    