@import 'animation';
@import 'pos';

@-webkit-keyframes slideOutLeft
  from
    -webkit-transform translateX(0)
  to
    -webkit-transform translateX(-150%)

@-webkit-keyframes slideInLeft
  from
    -webkit-transform translateX(150%)
  to
    -webkit-transform translateX(0)

@-webkit-keyframes slideOutRight
  from
    -webkit-transform translateX(0)
  to
    -webkit-transform translateX(150%)

@-webkit-keyframes slideInRight
  from
    -webkit-transform translateX(-150%)
  to
    -webkit-transform translateX(0)

@-webkit-keyframes fadeIn
  from
    opacity 0
  to
    opacity 1.0

@-webkit-keyframes fadeOut
  from
    opacity 1.0
  to
    opacity 0

body
  font-family Helvetica, Arial, sans-serif

h1,h2,h3,h4,h5
  margin 0
  padding 0

.animate
  animation-duration 500ms
  animation-fill-mode forwards

  &.headingOut
    animation-name slideOutLeft

  &.headingIn
    animation-name slideInLeft

  &.headingOut-reverse
    animation-name slideOutRight

  &.headingIn-reverse
    animation-name slideInRight

  &.headingOutFade
    animation-name @css{slideOutLeft,fadeOut}

  &.headingInFade
    animation-name @css{slideInLeft,fadeIn}

  &.headingOutFade-reverse
    animation-name @css{slideOutRight,fadeOut}

  &.headingInFade-reverse
    animation-name @css{slideInRight,fadeIn}

  &.fadeIn
    animation-name fadeIn

  &.fadeOut
    animation-name fadeOut